hidden = [".config", "pnpm-lock.yaml", "tsconfig.json", ".gitignore"]
compile = "clear"
run = "npm run dev"
modules = ["nodejs-20", "bash", "nix"]

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "package.json", "pnpm-lock.yaml"]



[nix]
channel = "stable-24_05"


[packager]
	language = "nodejs-pnpm"

	[packager.features]
		packageSearch = true
		guessImports = true
		enabledForHosting = true

[deployment]
run = ["sh", "-c", "npm run dev"]
build = ["sh", "-c", "clear"]

[[ports]]
localPort = 5500
externalPort = 80
